<h2>File Management</h2>

<% if @catalog != Catalog.root %>
  <h3><%= @catalog.name %></h3>
  
  <ul class="links">
    <li><%= link_to('Up A Level', admin_catalog_path(@catalog.catalog)) %></li>
  </ul>
<% end %>

<h3>Catalogs</h3>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catalog.catalogs.each do |catalog| %>
  <tr>
    <td><%= catalog.name %></td>
    <td><%= link_to 'Show', admin_catalog_path(catalog) %></td>
    <td><%= link_to 'Edit', edit_admin_catalog_path(catalog) %></td>
    <td><%= link_to 'Destroy', admin_catalog_path(catalog), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<ul class="links">
  <li><%= link_to 'Add Catalog', new_admin_catalog_catalog_path(@catalog) %></li>
</ul>

<h3>Documents</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catalog.documents.each do |document| %>
  <tr>
    <td><%= "#{document.name}.#{document.extension}" %></td>
    <td><%= number_to_human_size(document.size) %></td>
    <td><%= link_to 'Download', file_path(document) %></td>
    <td><%= link_to 'Show', admin_catalog_document_path(@catalog, document) %></td>
    <td><%= link_to 'Edit', edit_admin_catalog_document_path(@catalog, document) %></td>
    <td><%= link_to 'Destroy', admin_catalog_document_path(@catalog, document), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<ul class="links">
  <li><%= link_to 'Upload Document', new_admin_catalog_document_path(@catalog) %></li>
</ul>
