<h1>Listing catalogs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catalog.catalogs.each do |catalog| %>
  <tr>
    <td><%= catalog.name %></td>
    <td><%= link_to 'Show', catalog %></td>
    <td><%= link_to 'Edit', edit_catalog_path(catalog) %></td>
    <td><%= link_to 'Destroy', catalog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<h1>Listing documents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Extension</th>
    <th>Size</th>
    <th>Content type</th>
    <th>Signature</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catalog.documents.each do |document| %>
  <tr>
    <td><%= document.name %></td>
    <td><%= document.extension %></td>
    <td><%= document.size %></td>
    <td><%= document.content_type %></td>
    <td><%= document.signature %></td>
    <td><%= link_to 'Download', download_catalog_document_path(@catalog, document.name, document.extension) %></td>
    <td><%= link_to 'Show', catalog_document_path(@catalog, document) %></td>
    <td><%= link_to 'Edit', edit_catalog_document_path(@catalog, document) %></td>
    <td><%= link_to 'Destroy', catalog_document_path(@catalog, document), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New catalog', new_catalog_catalog_path(@catalog) %> | <%= link_to 'New document', new_catalog_document_path(@catalog) %>
