<h2>Events</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.date.to_s(:date) %></td>
    <td><%= event.location %></td>
    <td><%= link_to 'Show', admin_event_path(event) %></td>
    <td><%= link_to 'Edit', edit_admin_event_path(event) %></td>
    <td><%= link_to 'Destroy', admin_event_path(event), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<ul class="links">
  <li><%= link_to 'Add Event', new_admin_event_path %></li>
</ul>
