<h2>Viewing Event</h2>

<h3><%= @event.name %></h3>

<table>
  <tr>
    <td><b>Date:</b></td>
    <td><%= @event.date.to_s(:date) %></td>
  </tr>
  <tr>
    <td><b>Location:</b></td>
    <td><%= @event.location %></td>
  </tr>
</table>

<%= textilize(@event.description).html_safe %>

<ul class="links">
  <li><%= link_to 'Edit', edit_admin_event_path(@event) %></li>
  <li><%= link_to 'Back', admin_events_path %></li>
</ul>
