<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= date_select('event', 'date', :order => [:day, :month, :year]) %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :catalog %><br />
    <%= collection_select :event, :catalog_ids, Catalog.sans_root.order("complex_name ASC").all, :id, :complex_name, {}, :multiple => true, :name => 'event[catalog_ids][]' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
