<%= f.error_messages %>

<table>
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td><%= f.label :body %></td>
    <td><%= f.text_area :body %></td>
  </tr>
  <tr>
    <td><%= f.label :author %></td>
    <td><%= f.text_field :author %></td>
  </tr>
  <tr>
    <td><%= f.label :document %></td>
    <td><%= collection_select :article, :document_id, Document.where(:public => true).where("content_type LIKE 'image%'").all, :id, :name, { :prompt => 'Select Image' } %></td>
  </tr>
</table>

<%= f.submit %>
