<%= f.error_messages %>

<table>
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td class="top"><%= f.label :body %></td>
    <td><%= f.text_area :body %><br />(No HTML, <a href="/textile-reference/index.html" onclick="window.open(this.href,'textile_reference','height=400,width=600,scrollbars=1');return false;">Textile Markup</a> Only)</td>
  </tr>
  <tr>
    <td><%= f.label :author %></td>
    <td><%= f.text_field :author %></td>
  </tr>
  <tr>
    <td><%= f.label :image %></td>
    <td><%= collection_select :article, :document_id, Document.where(:public => true).where("content_type LIKE 'image%'").all, :id, :name, { :prompt => 'Select Image' } %></td>
  </tr>
</table>

<%= f.submit %>
