<h2>Viewing Article</h2>

<h3><%= @article.title %></h3>

<% if @article.document %>
  <p><%= image_tag thumbnail_path(@article.document) %></p>
<% end %>

<%= textilize(@article.body).html_safe %>

<p>
  <b>By:</b> <%= @article.author %>
</p>

<ul class="links">
  <li><%= link_to 'Edit', edit_admin_article_path(@article) %></li>
  <li><%= link_to 'Back', admin_articles_path %></li>
</ul>
