<h2>Viewing Article</h2>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>
<p>
  <b>Body:</b>
  <%= @article.body %>
</p>
<p>
  <b>Author:</b>
  <%= @article.author %>
</p>

<ul class="links">
  <li><%= link_to 'Edit', edit_admin_article_path(@article) %></li>
  <li><%= link_to 'Back', admin_articles_path %></li>
</ul>
