<h2>Editing Document</h2>

<% form_for(@document, :url => admin_catalog_document_path) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> 
<% end %>

<ul class="links">
  <li><%= link_to 'Show', admin_catalog_document_path(@document) %></li>
  <li><%= link_to 'Back', admin_catalog_path(@document.catalog) %></li>
</ul>
