<h1>New document</h1>

<% form_for(@document, :url => admin_catalog_documents_path, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :document %><br />
    <%= f.file_field :document %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', admin_catalog_path(@catalog) %>
