<h2>Viewing Document</h2>

<h3><%= @document.name %>.<%= @document.extension %></h3>

<table>
  <tr>
    <td><b>Size:</b></td>
    <td><%= number_to_human_size(@document.size) %></td>
  </tr>
  <tr>
    <td><b>Content type:</b></td>
    <td><%= @document.content_type %></td>
  </tr>
  <tr>
    <td><b>Signature:</b></td>
    <td><%= @document.signature %></td>
  </tr>
</table>

<% if @document.image? %>
  <h4>Preview</h4>
  <p><%= image_tag thumbnail_path(@document), :title => @document.name, :alt => @document.name %></p>
<% end %>

<ul class="links">
  <li><%= link_to 'Edit', edit_admin_catalog_document_path(@document) %></li>
  <li><%= link_to 'Back', admin_catalog_path(@catalog) %></li>
</ul>
