<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Extension:</b>
  <%= @document.extension %>
</p>

<p>
  <b>Size:</b>
  <%= @document.size %>
</p>

<p>
  <b>Content type:</b>
  <%= @document.content_type %>
</p>


<p>
  <b>Signature:</b>
  <%= @document.signature %>
</p>


<% if @document.content_type =~ /image/ %>
  <p>
    <b>Image data:</b><br />
    <%= image_tag admin_download_catalog_document_path(@catalog, @document.name, @document.extension), :title => @document.name, :alt => @document.name %>
  </p>
<% end %>


<%= link_to 'Edit', edit_admin_catalog_document_path(@document) %> |
<%= link_to 'Back', admin_catalog_path(@catalog) %>
