<%= f.error_messages %>

<table>
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td><%= f.label :password_confirmation %></td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td class="top"><%= f.label :role %></td>
    <td><%= collection_select :user, :role_ids, Role.visible.all, :id, :name, {}, :multiple => true, :name => 'user[role_ids][]' %></td>
  </tr>
</table>

<%= f.submit %>
