<h2>Users</h2>

<table>
  <tr>
    <th>Email</th>
    <th>Login count</th>
    <th>Last login at</th>
    <th>Roles</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.login_count %></td>
    <td><%= user.last_login_at.to_s(:date_time) if user.last_login_at %></td>
    <td><%= roles(user) %></td>
    <td><%= link_to 'Show', admin_user_path(user) %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    <td><%= link_to 'Destroy', admin_user_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<ul class="links">
  <li><%= link_to 'Add User', new_admin_user_path %></li>
</ul>
