<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title><%= application_name %> - Admin</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>

<body>
  <header>
    <h1><%= application_name %> - Admin</h1>
  </header>
  
  <nav>
    <%= link_to "Catalogs", admin_catalogs_path %> |
    <%= link_to "Roles", admin_roles_path %> | 
    <%= link_to "Users", admin_users_path %> | 
    <%= link_to "Settings", admin_settings_path %> | 
    <%= link_to "Themes", admin_themes_path %> | 
    <% for link in admin_plugin_links %>
      <%= link %> | 
    <% end %>
    <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
  </nav>
  
  <% flash.each do |key, msg| %>
		<%= content_tag :div, content_tag(:p, msg), :id => key %>
	<% end %>
	
	<%= yield %>
	
	<footer>
	  <p>&copy; Alex Pardoe, 2010.</p>
	</footer>
</body>

</html>