<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title><%= application_name %> - Admin</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>

<body>
  <header>
    <h1><%= application_name %> - Admin</h1>
  </header>
  
  <nav>
    <ul>
      <li><%= link_to "File Management", admin_catalogs_path %></li>
      <li><%= link_to "Roles", admin_roles_path %></li>
      <li><%= link_to "Users", admin_users_path %></li>
      <li><%= link_to "Settings", admin_settings_path %></li>
      <li><%= link_to "Themes", admin_themes_path %></li>
      <li>Plugins:</li>
      <% for link in admin_plugin_links %>
        <li><%= link %></li>
      <% end %>
      <li><%= link_to "Logout", user_session_path, :method => :delete %></li>
    </ul>
  </nav>
  
  <% flash.each do |key, msg| %>
		<%= content_tag :div, content_tag(:p, msg), :id => key %>
	<% end %>
	
	<%= yield %>
	
	<footer>
	  <p>&copy; Alex Pardoe, 2010.</p>
	</footer>
</body>

</html>