<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Chroma32</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :all %>
</head>

<body>
  <% if !current_user %>
    <%= link_to "Register", new_user_path %> |
    <%= link_to "Log In", new_user_session_path %> |
  <% else %>
    <%= link_to "My Account", user_path(current_user) %> |
    <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
  <% end %>
  
  <% flash.each do |key, msg| %>
		<%= content_tag :div, content_tag(:p, msg), :id => key %>
	<% end %>
	
	<%= yield %>
</body>

</html>