<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Chroma32</title>
	<%= themed_stylesheet_link_tag :all %>
	<%= themed_javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>

<body>
  <header>
    <h1>Chroma32</h1>
  </header>
  
  <nav>
    <% if current_user %>
      <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
      <% if current_user.role?(:admin) %>
        | <%= link_to "Admin", admin_root_path %>
      <% end %>
    <% end %>
  </nav>
  
  <% flash.each do |key, msg| %>
		<%= content_tag :div, content_tag(:p, msg), :id => key %>
	<% end %>
	
	<%= yield %>
	
	<footer>
	  <p>&copy; Alex Pardoe, 2010.</p>
	</footer>
</body>

</html>